/* #region Base */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #fafafa;
  color: #111;
  margin: 0;
  padding: 0;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
button,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* #endregion*/

/* #region  visually*/

.hidden {
  display: none;
}

/* #endregion*/

.container {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* #region header*/

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
  width: 169px;
  color: #111;
}

.logo-svg {
  width: 21px;
  height: 21px;
  margin-left: 4px;
  fill: #fcf1e0;
}

.nav-list,
.social {
  display: none;
}

.menu-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}
.menu-icon {
  display: block;
  stroke: #111;
  transition: scale(1.2) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 47px;
  }
  .nav-list {
    display: flex;
    gap: 20px;
    width: 312px;
  }
  .nav-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }
  .nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
  }
  .social {
    display: flex;
    gap: 14px;
  }
  .social-list {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .social-list:hover {
    border-color: #fd9222;
  }
  .social-item-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-item:hover {
    fill: #fd9222;
  }
  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
    width: 213px;
    margin-right: 365px;
  }
  .nav-list {
    gap: 24px;
    width: 320px;
  }
}
/* #endregion header*/

/* #region hero pages*/
.hero {
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.4);
  padding-top: 395px;
  padding-bottom: 20px;
  margin-bottom: 80px;
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero-bg_desk@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 335px;
}

.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}

.hero-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 32px;
  column-gap: 14px;
}

.hero-btn {
  display: flex;
}
.hero-button {
  border-radius: 100px;
  padding: 12px 28px;
  border: 1px solid #fff;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  color: #fd9222;
  border-color: #fd9222;
}
.orange {
  display: block;
  border: none;
  background-color: #fd9222;
  margin-right: 14px;
}
.orange:hover {
  color: #fd9222;
  background-color: #fcf1e0;
  border: none;
}
.hero-arrow {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  width: 28px;
  height: 28px;
  margin-left: 12px;
  border-radius: 100%;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.hero-arrow-svg {
  transition: rotate(-90deg);
  fill: #fd9222;
}
.hero-arrow:focus .hero-box,
.hero-arrow:focus .hero-arrow-svg {
  transform: scale(0.8) rotate(-90deg);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 671px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    max-width: 704px;
  }
  .hero-title {
    font-size: 28px;
    line-height: 1.21;
  }
  .hero-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .hero-button {
    padding: 14px 40px;
  }
  .hero-arrow {
    font-size: 14px;
    line-height: 1.29;
  }
  .hero-box {
    width: 38px;
    height: 38px;
    margin-left: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 381px;
    max-width: 1136px;
    margin-bottom: 80px;
  }
}
/* #endregion hero pages*/

/* #region benefits*/

/* #endregion benefits*/
