/* #region Base */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #fafafa;
  color: #111;
  margin: 0;
  padding: 0;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
button,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}
.title-text {
  color: #fd9222;
}
.subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 1.17;
  }
}
/* #endregion*/

/* #region  hidden*/

.hidden {
  display: none;
}

/* #endregion*/

.container {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* #region header*/

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
  width: 169px;
  color: #111;
}

.logo-svg {
  width: 21px;
  height: 21px;
  margin-left: 4px;
  fill: #fcf1e0;
}

.nav-list,
.social {
  display: none;
}

.menu-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}
.menu-icon {
  display: block;
  stroke: #111;
  transition: scale(1.2) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 47px;
  }
  .nav-list {
    display: flex;
    gap: 20px;
    width: 312px;
  }
  .nav-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }
  .nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
  }
  .social {
    display: flex;
    gap: 14px;
  }
  .social-list {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .social-list:hover {
    border-color: #fd9222;
  }
  .social-item-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-item:hover {
    fill: #fd9222;
  }
  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
    width: 213px;
    margin-right: 365px;
  }
  .nav-list {
    gap: 24px;
    width: 320px;
  }
}
/* #endregion header*/

/* #region hero pages*/
.hero {
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.4);
  padding-top: 395px;
  padding-bottom: 20px;
  margin-bottom: 80px;
  background-image: linear-gradient(
      to bottom,
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero-bg_desk@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 335px;
}

.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}

.hero-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 32px;
  column-gap: 14px;
}

.hero-btn {
  display: flex;
}
.hero-button {
  border-radius: 100px;
  padding: 12px 28px;
  border: 1px solid #fff;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  color: #fd9222;
  border-color: #fd9222;
}
.orange {
  display: block;
  border: none;
  background-color: #fd9222;
  margin-right: 14px;
}
.orange:hover {
  color: #fd9222;
  background-color: #fcf1e0;
  border: none;
}
.hero-arrow {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  width: 28px;
  height: 28px;
  margin-left: 12px;
  border-radius: 100%;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.hero-arrow-svg {
  transition: rotate(-90deg);
  fill: #fd9222;
}
.hero-arrow:focus .hero-box,
.hero-arrow:focus .hero-arrow-svg {
  transform: scale(0.8) rotate(-90deg);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 671px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    max-width: 704px;
  }
  .hero-title {
    font-size: 28px;
    line-height: 1.21;
  }
  .hero-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .hero-button {
    padding: 14px 40px;
  }
  .hero-arrow {
    font-size: 14px;
    line-height: 1.29;
  }
  .hero-box {
    width: 38px;
    height: 38px;
    margin-left: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 381px;
    max-width: 1136px;
    margin-bottom: 80px;
  }
}
/* #endregion hero pages*/

/* #region benefits*/

.benefits {
  background-color: #111;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 80px;
}
.benefits-title {
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.benefits-item {
  display: flex;
  flex-direction: column;
  width: 335px;
}
.benefits-svg {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  justify-content: center;
  align-items: center;
}
.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-text {
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 768px) {
  .benefits {
    background-color: #111;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
  }
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 44px;
    column-gap: 88px;
    align-items: center;
  }
  .benefits-item {
    display: flex;
    flex-direction: column;
    width: 308px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-left: 50px;
    padding-right: 50px;
  }
  .benefits-list {
    align-items: flex-start;
  }
}
/* #endregion benefits*/

/*#region ingridients*/
.ingridients {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.ingredients-title {
  margin-bottom: 32px;
  width: 283px;
}
.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
}
.ingredients-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: 335px;
  height: 270px;
  background-color: transparent;
  position: relative;
}
.ingredients-img {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}
.ingredients-text {
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: left;
  margin-left: 28px;
}
.ingredients-orange {
  background-color: #fd9222;
  color: #fff;
}
.ingredients-black {
  background-color: #111;
  color: #fff;
  border: none;
}
.ingredients-arrow {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}
.fill-orange {
  fill: #fd9222;
  stroke: #fafafa;
}
.fill {
  fill: #fafafa;
  stroke: #fd9222;
}
.hiddens {
  display: none;
}
@media screen and (min-width: 768px) {
  .ingridients {
    margin-bottom: 100px;
  }
  .ingredients-title {
    margin-bottom: 50px;
    width: 412px;
  }
  .ingredients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 80px;
  }
  .ingredients-item {
    width: 336px;
    gap: 16px;
  }
  .hiddens {
    display: block;
  }

  .ingredients-text {
    margin-left: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .ingridients {
    margin-bottom: 120px;
  }
  .ingredients-list {
    row-gap: 24px;
    column-gap: 32px;
  }
  .ingredients-item {
    width: 260px;
    gap: 36px;
  }
  .ingredients-img {
    margin-top: 28px;
  }
}
/*#endregion ingridients*/

/* #region made*/
.made {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.made-title {
  margin-bottom: 32px;
}
.made-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.made-img {
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(17, 17, 17, 0.4), url("path_to_image");
  width: 335px;
  height: 500px;
  margin-bottom: 20px;
}
.made-play {
  position: absolute;
  top: 233px;
  left: 150px;
  cursor: pointer;
}
.fill-play {
  display: block;
}
.made-list-box {
  display: flex;
  flex-direction: column;
  padding: 20px 14px;
  border-radius: 15px;
  width: 335px;
  height: 456px;
  background-color: #fff;
  justify-content: center;
}
.made-subtitle {
  margin-bottom: 20px;
}
.made-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.made-item {
  margin-left: 16px;
}
.made-text {
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}
@media screen and (min-width: 768px) {
  .made {
    margin-bottom: 100px;
  }
  .made-title {
    margin-bottom: 50px;
  }
  .made-img {
    width: 614px;
    height: 400px;
  }
  .made-play {
    top: 178px;
    left: 337px;
  }
  .made-list-box {
    padding: 32px;
    border-radius: 15px;
    width: 614px;
    height: 356px;
  }
  .made-subtitle {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .made {
    margin-bottom: 120px;
  }
  .made-box {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
  .made-img {
    margin-bottom: 0;
    width: 600px;
  }
  .made-play {
    top: 178px;
    left: 278px;
  }
  .made-list-box {
    width: 516px;
    height: 400px;
  }
  .made-list {
    gap: 18px;
  }
  .made-item {
    margin-left: 8px;
  }
}
/*#endregion made*/

/*#region product*/
.products {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  align-items: center;
}
.products-title {
  margin-bottom: 32px;
}
.products-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.products-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 335px;
  height: 364px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products-img {
  display: block;
  margin-bottom: 8px;
}
.products-subtitle {
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.products-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.products-btn {
  display: inline-flex;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  width: 94px;
  height: 33px;
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #111;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .products {
    margin-bottom: 100px;
  }
  .products-title {
    margin-bottom: 32px;
  }
  .products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .products-item {
    width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    margin-bottom: 120px;
  }
  .products-list {
    column-gap: 18px;
    row-gap: 24px;
  }
  .products-item {
    width: 270px;
  }
}
/*#endregion product*/

/*#region sellers*/
.sellers {
  padding-bottom: 80px;
}
.sellers-title {
  margin-bottom: 32px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.sellers-list {
  background-color: url("path_to_image");
}
.sellers-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.sellers-img {
  border-radius: 15px 15px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s ease;
  width: 335px;
  height: 464px;
}
.sellers-subtitle {
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  width: 335px;
  height: 72px;
  background-color: #fff;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.sellers-overlay {
  position: absolute;
  width: 288px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.sellers-item:hover .sellers-overlay {
  opacity: 1;
}
.sellers-item:hover .sellers-img {
  filter: blur(5px);
}
.hiddens {
  display: none;
}
.hiddens-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .sellers {
    padding-bottom: 100px;
  }
  .sellers-title {
    margin-bottom: 50px;
  }
  .sellers-list {
    display: flex;
    gap: 16px;
  }
  .sellers-item {
    width: 344px;
    height: 544px;
  }
  .hiddens {
    display: block;
  }
  .sellers-img {
    width: 334px;
  }
  .sellers-subtitle {
    width: 334px;
    height: 80px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .sellers-overlay {
    width: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .sellers {
    padding-bottom: 120px;
  }
  .sellers-item {
    width: 368px;
  }
  .hiddens-desktop {
    display: block;
  }
  .sellers-img {
    width: 368px;
  }
  .hiddens-desktop {
    display: block;
  }
  .sellers-subtitle {
    width: 368px;
  }
  .sellers-overlay {
    width: 295px;
  }
}
/*#endregion sellers*/

/*#region rewiews*/
.rewiews {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rewiews-title {
  display: flex;
  margin-bottom: 74px;
}
.rewiews-list {
  display: flex;
  margin-bottom: 32px;
}
.rewiews-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 335px;
  height: 200px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.1);
  background-color: #fff;
  padding-bottom: 42px;
}
.rewiews-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 120px;
}
.hiddens {
  display: none;
}
.hiddens-desktop {
  display: none;
}
.rewiews-text {
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  width: 299px;
  height: 54px;
}
.rewiews-btn {
  font-weight: 600;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 12px 28px;
  width: 165px;
  height: 41px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rewiews-btn:hover {
  color: #fff;
  background-color: #fd9222;
}
@media screen and (min-width: 768px) {
  .rewiews {
    margin-bottom: 100px;
  }
  .rewiews-title {
    margin-bottom: 91px;
  }
  .rewiews-list {
    margin-bottom: 50px;
    gap: 16px;
  }
  .rewiews-item {
    position: relative;
    display: flex;
    width: 334px;
    padding: 26px;
  }
  .hiddens-desktop {
    display: none;
  }
  .rewiews-text {
    width: 312px;
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .rewiews {
    margin-bottom: 120px;
  }
  .rewiews-title {
    margin-bottom: 92px;
  }
  .rewiews-list {
    gap: 28px;
  }
  .rewiews-item {
    position: relative;
    display: flex;
    width: 360px;
    padding: 24px;
  }
  .rewiews-text {
    height: 72px;
  }
}
/*#endregion rewiews*/
